body{
    font-family: sans-serif;
}
.done{
    color: grey;
    text-decoration: line-through;
}
.delete{
    background-color: red;
    color: white;
    border-radius: 0.5rem;
    padding: 5px;
}

.delete:hover, span.fw-semibold:hover{
    cursor: pointer;
}
li{
    border-bottom: 1px solid gainsboro;
}

.my-desk{
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}